.block-content{
   p{
     color:#666666;
   }
  .progress {
    background-color: transparent;
    height: 0.78em;
    margin-bottom: 1.58em;
    padding: 0;
    border: 1px solid #f3f3f3;
  }
  .progress_title {
    font-size: 1em;
    font-weight: 500;
    margin: 5px 5px 5px 2px;
  }

}