.aboutmelist {
  list-style: none;
}
.sidebar {
  .aboutmelist {
    margin-top: 20px;
  }
}
.block-image {
  text-align: center;
  img {
    border-radius: 50%;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }

}
.l-footer-columns {
  .block-image {
    h2, p {
      color: #aaa;
    }
  }
}
.box-post {
  img {
    border-radius: 0;
  }
}
